/* 全局样式表 */
html,body,#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
p {
  margin: 0;
  padding: 0;
}
span {
  font-size: 12px;
}
.container {
  /* width: 100%; */
  min-width: 1080px;
  height: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 20px;
  box-sizing: border-box;
  /* background: #FBFCFE; */
}
.content {
  width: 100%;
  height: 100%;
  /* padding:20px; */
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
  border: 1px solid #ebeef5;
  /* overflow-y: auto; */
  overflow-x: hidden;  
}

/* 处理表格中表头和表体不对齐问题 */
.el-table th.gutter{
  display: table-cell!important;
}
/* 分页样式 */
/* .el-pagination {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 14px;
  color: #909399 !important;
  background: #f4f4f4 !important;
  padding-top: 15px !important;
} */
.finger {
  position: absolute;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  border-width: 0mm;
  width: 6mm;
  height: 6mm;
  top: -3mm;
  left: -3mm;
  opacity: 0.7;
  pointer-events: none;
  background: white;
  /*#464646;*/
  /*background: red;*/
  display: none;
}

.finger.active {
  display: block;
  border-color: #464646;
  border-width: 1mm;
}
/* 全局滚动条样式设置 */
::-webkit-scrollbar{
  width:5px;
  height:5px;
}
/*正常情况下滑块的样式*/
::-webkit-scrollbar-thumb{
  background-color:rgb(83,98,111);
  border-radius:10px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1);
}
/*鼠标悬浮在该类指向的控件上时滑块的样式*/
:hover::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,.2);
  border-radius:10px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1);
}
/*鼠标悬浮在滑块上时滑块的样式*/
::-webkit-scrollbar-thumb:hover{
  background-color:rgba(0,0,0,.4);
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1);
}
/*正常时候的主干部分*/
::-webkit-scrollbar-track{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0);
  background-color: #fff;
}
/*鼠标悬浮在滚动条上的主干部分*/
::-webkit-scrollbar-track:hover{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.01);
}
.borderTop{
  border-top: 1px solid #EBEEF5;
}
/* 文本超出显示省略号 */
.textOverstep{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}